.dog-photo {
  width: 150px !important;
  margin: 50px auto !important;
}

.input-field {
  margin: 0 25px !important;
}

.additional-information-field {
  margin-top: 50px;
}

.title-default {
  text-align: left !important;
  margin-top: 50px;
  margin-left: 25px;
  padding-inline: 0;
}

.setup-btn {
  margin: 250px 25px 50px 25px !important;
  width: 88%;
}
