.user-container {
  box-shadow: none;
  border-radius: 0;
  display: flex;
  margin: 2em 2em 1em;
  align-items: center;
}

.img-container {
  width: 50%;
}

.user-img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}

.user-info-text h3 {
  font-size: 1.4em;
  margin: 0 0 0.5em;
}

.location-container {
  display: flex;
  align-items: center;
}

.location-container p {
  margin: 0;
  font-size: 1.1em;
}

.location-icon {
  color: var(--ion-color-primary);
  padding-right: 10px;
}

.button-container {
    border-bottom: 1px solid var(--ion-color-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2em 1em;
    padding: 0 0 2em ;
}

.add-icon {
  color: var(--ion-color-primary);
}

.profile-btn {
  height: 2em;
  font-family: Open Sans, sans-serif;
  font-size: 1.25em;
  font-weight: 200;
  border-radius: 10px;
  margin: 1em 0 0;
  width: 150px;
}

.profile-btn-alt {
  height: 2em;
  font-family: Open Sans, sans-serif;
  font-size: 1.25em;
  font-weight: 200;
  border-radius: 10px;
  margin: 1em 0 0;
  width: 150px;
  color: var(--ion-color-primary);
  background-color: transparent;
  border: 1px solid var(--ion-color-primary);
}

.dogs-container {
  display: flex;
  flex-direction: column;
  margin: 1em 2em 1em;
}

.add-icon-alt {
  width: 140px;
  height: 140px;
  color: var(--ion-color-primary);
  --ionicon-stroke-width: 16px;
}

.dog-container {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  width: 30%;
  margin-right: 1rem;
}

.dog-profile-photo {
  width: 100%;
}

