.upload-container {
   padding: 1.5em 2em 1em;
}

.edit-img {
  margin-top: 1em;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.dog-container {
  display: flex;
  flex-direction: column;
  margin: 2em 2em
}

.add-btn {
  height: 100px;
  width: 100px;
  color: var(--ion-color-primary);
}